<mat-list>
    <mat-list-item><b>Menu</b></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/accueil']">Accueil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/listeEvenements']">Liste événements</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/creationEvenement']">Créer un événement</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/mesEvenements']">Mes événements</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/profil']">Gestion du profil</mat-list-item>
</mat-list>