@import "../../theme.scss";

img {
    height: 100px;
    width: 100px;
}

table {
    width: 100%;
  }

h2 {
    text-align: center;
    color: $color-primary;
}

button {
    margin-right: 2.5%;
}

#form {
    text-align: center;
}

.loader {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}
