<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults" class="loader"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
     Limite atteinte.
    </div>
  </div>
  <h2>Recherche d'évènements</h2>
   
  <div id='form'>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher...">
    </mat-form-field>
    <p>Nombre de résultat(s) : {{compteur}}</p>
  </div>
  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Titre Column -->
      <ng-container matColumnDef="title">
        <th mat-sort-header="title" mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <!-- Adresse Column -->
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Adresse</th>
        <td mat-cell *matCellDef="let row">{{row.place}}</td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let row">
          <img src={{row.image}}>
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="organisateur">
        <th mat-header-cell *matHeaderCellDef>Organisateur</th>
        <td mat-cell *matCellDef="let row">{{row.organisateur}}</td>
      </ng-container>

      <!-- Modif Column -->
      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button [routerLink]="['/mesEvenements', row.id]">Voir évènement</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>