<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <mat-card fxFlex="60" fxFlex.xs="100%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Connexion</mat-card-title>
        </mat-card-header>
        <form [formGroup]="authForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
          <div class="example-container">
              <mat-form-field>
                <input matInput type="email" placeholder="Adresse mail" formControlName="email" required>
                <mat-error *ngIf="hasError('email', 'required')">Adresse mail requise</mat-error>
                <mat-error *ngIf="hasError('email', 'email')">Adresse mail mal formée</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="hasError('password', 'required')">Mot de passe requis</mat-error>
              </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" mat-raised-button color="warn" [routerLink]="['/inscription']">Inscription</button>
            <button mat-raised-button color="primary" [disabled]="!authForm.valid">Connexion</button>
        </mat-card-actions>
      </form>
    </mat-card>
</div>