<h1 mat-dialog-title>{{data.message}}</h1>

<mat-dialog-actions align="center">
    <button class="mat-raised-button" (click)="close()" [mat-dialog-close]="true">
        {{data.exit}}
    </button>
    <button class="mat-raised-button mat-primary" (click)="save()" [mat-dialog-close]="true">
        {{data.validate}}
    </button>
</mat-dialog-actions>