<form [formGroup]="eventForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
<mat-card>
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="33%">
      <mat-card class="app-card">
        <mat-card-header>
            <mat-card-title>Information de l'événement</mat-card-title>
        </mat-card-header>  
        <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Nom" formControlName="name" id="name" required>
            <mat-error *ngIf="hasError('name', 'required')">Nom requis</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="date-local" [min]="minDate" [matDatepicker]="picker" placeholder="Date" formControlName="date" id="date" required
              readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="hasError('date', 'required')">Date requise</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Adresse" formControlName="place" id="place" required>
            <mat-error *ngIf="hasError('place', 'required')">Adresse requis</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Ville" formControlName="city" id="city" required>
            <mat-error *ngIf="hasError('city', 'required')">Ville requis</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" minlength="5" maxlength="5" placeholder="Code postal" formControlName="cp" id="cp" required>
            <mat-error *ngIf="hasError('cp', 'required')">Code postal requis</mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Entrez une brève description de l'événement"
            formControlName="description" id="description" required></textarea>
            <mat-error *ngIf="hasError('description', 'required')">Description requis</mat-error>
          </mat-form-field>
          <app-load-image [afficherButton]='true'></app-load-image>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33%">
      <mat-card class="app-card">
        <mat-card-content>
          <mat-card-header>
              <mat-card-title>Gestion des participants</mat-card-title>
          </mat-card-header>
          <mat-form-field>
            <mat-label>Ajouter un participant</mat-label>
            <mat-select #select>
              <mat-option *ngFor="let user of users" [value]="user">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span>
            <button mat-button type="button" (click)="addParticipant(select.value)"><mat-icon>add_circle</mat-icon></button>
          </span>
          <table mat-table #tableUsers [dataSource]="participants" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let user"> {{user.username}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Adresse mail </th>
              <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="remove" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let user">
                <button type="button" mat-button (click)="removeParticipant(user)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParticipant"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParticipant;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33%">
      <mat-card class="app-card"> 
        <mat-card-content>
          <mat-card-header>
              <mat-card-title>Gestion des participations</mat-card-title>
          </mat-card-header>
          <mat-form-field>
            <input matInput #inputMotif type="text" placeholder="Motif" id="motif">
          </mat-form-field>
          <mat-form-field>
            <input matInput #inputMontant type="number" placeholder="Montant" id="montant">
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
          <span>
            <button mat-button type="button" (click)="addExpense(inputMotif, inputMontant)"><mat-icon>add_circle</mat-icon></button>
          </span>
          <table mat-table #tableExpenses [dataSource]="expenses" class="mat-elevation-z8">
            <ng-container matColumnDef="motif">
              <th mat-header-cell *matHeaderCellDef> Motif </th>
              <td mat-cell *matCellDef="let expense"> {{expense.wording}} </td>
            </ng-container>
          
            <ng-container matColumnDef="montant">
              <th mat-header-cell *matHeaderCellDef> Montant </th>
              <td mat-cell *matCellDef="let expense"> {{expense.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="remove" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let expense">
                <button type="button" mat-button (click)="removeExpense(expense)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsExpense"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsExpense;"></tr>
          </table>
          <p>Total des dépenses : {{totalExpenses}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-card-actions align='right'>
    <button mat-raised-button color="primary" type="submit" [disabled]="!eventForm.valid">Créer l'événement</button>
  </mat-card-actions>
</mat-card>
</form>