<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults" class="loader"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
     Limite atteinte.
    </div>
  </div>
  <h2>Mes évènements</h2>
  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Titre Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let event">{{event.title}}</td>
      </ng-container>

      <!-- Adresse Column -->
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Adresse</th>
        <td mat-cell *matCellDef="let event">{{event.place}}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let event">{{event.date | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>Organisateur</th>
        <td mat-cell *matCellDef="let event">{{event.user.username}}</td>
      </ng-container>

      <!-- Modif Column -->
      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let event"><a mat-raised-button [routerLink]="['/mesEvenements', event.id]">Voir l'événement</a></td>
      </ng-container>

      <!-- Suppr Column -->
      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let event"><button mat-raised-button color="warn" (click)="removeEvent(event)">Supprimer</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let event; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>