.container {
    min-height: 100%;
    width: 100%;
}

.subcontainer {
  display: flex;
  flex-direction: column;
}

#depense {
  margin-top: 10px;
}

table {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .cardList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cardList > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 32px;
  }
}