<div class="app-container" [class.app-in-mobile]="mobileQuery.matches">
    <mat-toolbar class="app-toolbar">
        <button class="menu-button" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-title">Gestion Cagnotte</h1>

        <button *ngIf="connected === true" class="navbar-links" mat-button [routerLink]="['/accueil']">
            Accueil
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above"></mat-menu>

        <button *ngIf="connected === true" class="navbar-links" mat-button [routerLink]="['/listeEvenements']">
            Liste des événements
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below"></mat-menu>

        <button *ngIf="connected" class="navbar-links" mat-button [routerLink]="['/creationEvenement']">
            Créer un événement
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before"></mat-menu>

        <button *ngIf="connected" class="navbar-links" mat-button [routerLink]="['/mesEvenements']">
            Mes événements
        </button>
        <mat-menu *ngIf="connected" #afterMenu="matMenu" xPosition="after"></mat-menu>
        <span class="spacer"></span>
        <button mat-card-avatar [matMenuTriggerFor]="beforeMenu" class="header-image">
            <img [src]="userimage"/>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item disabled>
                <b class="email-display">{{username}}</b> - <i>{{usermail}}</i>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['/profil']">
                <mat-icon aria-label="Modification du profil">account_box</mat-icon>
                <span>Profil</span>
            </button>
            <button mat-menu-item (click)="openConfirmationDialog()">
                <mat-icon aria-label="Déconnexion">exit_to_app</mat-icon>
                <span>Déconnexion</span>
            </button>
         </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <app-navbar class="app-navbar"></app-navbar>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
