@import "../theme.scss";
.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.app-toolbar {
  background-color: $color-primary;
  color: white;
}

  .app-in-mobile .app-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.app-title {
    margin-left: 8px;
  }
  
  .app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .app-in-mobile .app-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
@media only screen and (max-width: 850px) {
  .navbar-links {
      display: none;
  }
}

@media only screen and (min-width: 850px) {
  .menu-button {
      display: none;
  }
  .app-navbar {
      display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.header-image {
  background-size: cover;
  cursor: pointer;
  border-width: inherit;
  overflow: hidden;
}

img {
  width: 40px;
  height: 40px;
  margin-left: -6px;
  margin-top: -1px;
}

.email-display {
  color: rgba(0,0,0,.87);
}