<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <mat-card class="app-card" fxFlex="40">
      <mat-card-header>
          <mat-card-title>Profil de {{ user.username }} </mat-card-title>
      </mat-card-header>
      <form [formGroup]="profilForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <div class="example-container">
            <mat-form-field>
                <input matInput type="pseudo" placeholder="Pseudo" formControlName="pseudo" required>
                <mat-error *ngIf="hasError('pseudo', 'required')">Pseudo requis</mat-error>
              </mat-form-field>
            <mat-form-field>
              <input matInput type="email" placeholder="Adresse mail" formControlName="email" required>
              <mat-error *ngIf="hasError('email', 'required')">Adresse mail requise</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Mot de passe" formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="hasError('password', 'required')">Mot de passe requis</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Confirmer le mot de passe" formControlName="passwordConfirmation" [type]="hideConfirm ? 'password' : 'text'" required [errorStateMatcher]="CrossFieldErrorMatcher">
              <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="hasError('passwordConfirmation', 'required')">Confirmation du mot de passe requis</mat-error>
              <mat-error *ngIf="formHasError('notSame')">Les mots de passes ne sont pas identiques</mat-error>
          </mat-form-field>
          <app-load-image [afficherButton]='true' [image]="image"></app-load-image>
        </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!profilForm.valid">Sauvegarder</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>