<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Image</mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="image!==''" [src]="image">
    <mat-card-actions>
    <button *ngIf='afficherButton' mat-stroked-button type="button" color='primary' onclick="document.getElementById('image').click()">
        <span *ngIf="image===''">Choisir une image</span>
        <span *ngIf="image!==''">Modifier l'image</span>
    </button>
    <input color="primary" type="file" accept="image/*" id="image" (change)="load($event)"/>
    </mat-card-actions>
</mat-card>
