.container {
    min-height: 100%;
    width: 100%;
}

.app-card {
    max-width: 100%;
}

.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 100%;
    height: 100%;
    line-height: 300px;
    font-size: 50px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}