<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
        <mat-card class="app-card">
            <mat-card-header>
                <mat-card-title>Nombre d'événements que j'organise</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="example-ripple-container mat-elevation-z4" matRipple [routerLink]="['/mesEvenements']">
                  {{nombreEventAsAdmin}}
              </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="50%">
        <mat-card class="app-card">
            <mat-card-header>
                <mat-card-title>Nombre des événements auxquels je participe</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="example-ripple-container mat-elevation-z4" matRipple [routerLink]="['/listeEvenements']">
                  {{nombreEventAsParticipant}}
              </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>